BODY
{
    MARGIN: 0px;
    BACKGROUND-COLOR: #ffffff
}
TD
{
    POSITION: relative
}
A.thumbg1d:link
{
    FONT-SIZE: 0.7em;
    COLOR: #663366;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    TEXT-DECORATION: underline
}
A.thumbG2d:link
{
    FONT-SIZE: 0.7em;
    COLOR: #333399;
    FONT-FAMILY: Verdana, 
  Arial, Helvetica, sans-serif;
    TEXT-DECORATION: underline
}
A.thumbg3d:link
{
    FONT-SIZE: 0.7em;
    COLOR: #006699;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    TEXT-DECORATION: underline
}
A.thumbg4d:link
{
    FONT-SIZE: 0.7em;
    COLOR: #006666;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    TEXT-DECORATION: underline
}
A.thumbg5d:link
{
    FONT-SIZE: 0.7em;
    COLOR: #336600;
    FONT-FAMILY: Verdana, 
  Arial, Helvetica, sans-serif;
    TEXT-DECORATION: underline
}
A.thumbg6d:link
{
    FONT-SIZE: 0.7em;
    COLOR: #996600;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    TEXT-DECORATION: underline
}
A.thumbg7d:link
{
    FONT-SIZE: 0.7em;
    COLOR: #cc6600;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    TEXT-DECORATION: underline
}
A.breadcrumb:visited
{
    COLOR: #990033
}
A.bodyboldwhite:visited
{
    COLOR: #ccccff
}
A.bodyboldwhite:hover
{
    TEXT-DECORATION: underline
}
A:visited
{
    COLOR: #660099
}
A:hover
{
    TEXT-DECORATION: none
}
.bodyboldlitewhite
{
    FONT-SIZE: 0.7em;
    COLOR: #f8f8f8;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.bodywhite
{
    FONT-SIZE: 0.7em;
    COLOR: #ffffff;
    FONT-FAMILY: Verdana, Arial, 
  Helvetica, sans-serif
}
.bodyboldwhite
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 0.7em;
    COLOR: #ffffff;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
.bodyboldpurple
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 0.7em;
    COLOR: #663366;
    FONT-FAMILY: Verdana, Arial, 
  Helvetica, sans-serif
}
.bodyorange
{
    FONT-SIZE: 0.7em;
    COLOR: #cc6600;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.bodybrown
{
    FONT-SIZE: 0.7em;
    COLOR: #996600;
    FONT-FAMILY: Verdana, Arial, Helvetica, 
  sans-serif
}
.bodyboldbrown
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 0.7em;
    COLOR: #996600;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.bodygreen
{
    FONT-SIZE: 0.7em;
    COLOR: #336600;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.bodyboldgreen
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 0.7em;
    COLOR: #336600;
    FONT-FAMILY: Verdana, Arial, Helvetica, 
  sans-serif
}
.bodyturquoise
{
    FONT-SIZE: 0.7em;
    COLOR: #006666;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.bodyboldturquoise
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 0.7em;
    COLOR: #006666;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.bodyskyblue
{
    FONT-SIZE: 0.7em;
    COLOR: #006699;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.bodyboldskyblue
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 0.7em;
    COLOR: #006699;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.bodyroyalblue
{
    FONT-SIZE: 0.7em;
    COLOR: #333399;
    FONT-FAMILY: Verdana, Arial, Helvetica, 
  sans-serif
}
.bodyboldroyalblue
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 0.7em;
    COLOR: #333399;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.bodypurple
{
    FONT-SIZE: 0.7em;
    COLOR: #663366;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.bodyblack
{
    FONT-SIZE: 0.7em;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica, 
  sans-serif
}
.courier
{
    FONT-SIZE: 0.8em;
    COLOR: #000000;
    FONT-FAMILY: "Courier New", Courier, mono
}
.bodyblindent
{
    FONT-SIZE: 0.7em;
    COLOR: #000000;
    TEXT-INDENT: 12pt;
    FONT-FAMILY: Verdana, 
  Arial, Helvetica, sans-serif
}
.bodyred
{
    FONT-SIZE: 0.7em;
    COLOR: #990033;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.bodybold
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 0.7em;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.catref
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 0.7em;
    COLOR: #999999;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.breadcrumb
{
    FONT-SIZE: xx-small;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.search
{
    FONT-SIZE: xx-small;
    WIDTH: 60px;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica, 
  sans-serif;
    HEIGHT: 15px
}
.searchmicro
{
    FONT-SIZE: x-small;
    FONT-FAMILY: Verdana, arial, helvetica, sans serif
}
.tableG2
{
    BORDER-RIGHT: #a3a3d1 thick;
    BORDER-TOP: #a3a3d1 thick;
    BORDER-LEFT: #a3a3d1 thick;
    BORDER-BOTTOM: #a3a3d1 thick
}
.searchcapt
{
    FONT-WEIGHT: bold;
    FONT-SIZE: small;
    MARGIN: 0px;
    LINE-HEIGHT: 9pt;
    FONT-FAMILY: Verdana, 
  arial, helvetica, sans serif
}
.error
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 1em;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.boldg4plugin
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 0.7em;
    COLOR: #006666;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.boldg6plugin
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 0.7em;
    COLOR: #996600;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.thumbG1u
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 0.7em;
    COLOR: #663366;
    FONT-FAMILY: Verdana, 
  Arial, Helvetica, sans-serif
}
.thumbG1d
{
    FONT-SIZE: 0.7em;
    COLOR: #663366;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.thumbG2u
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 0.7em;
    COLOR: #333399;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.thumbG2d
{
    FONT-SIZE: 0.7em;
    COLOR: #333399;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.thumbG3u
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 0.7em;
    COLOR: #006699;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.thumbG3d
{
    FONT-SIZE: 0.7em;
    COLOR: #006699;
    FONT-FAMILY: Verdana, Arial, Helvetica, 
  sans-serif
}
.thumbg4u
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 0.7em;
    COLOR: #006666;
    FONT-FAMILY: Verdana, 
  Arial, Helvetica, sans-serif
}
.thumbg4d
{
    FONT-SIZE: 0.7em;
    COLOR: #006666;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.thumbG5u
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 0.7em;
    COLOR: #336600;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.thumbG5d
{
    FONT-SIZE: 0.7em;
    COLOR: #336600;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.thumbG6u
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 0.7em;
    COLOR: #996600;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.thumbG6d
{
    FONT-SIZE: 0.7em;
    COLOR: #996600;
    FONT-FAMILY: Verdana, Arial, Helvetica, 
  sans-serif
}
.thumbG7u
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 0.7em;
    COLOR: #cc6600;
    FONT-FAMILY: Verdana, 
  Arial, Helvetica, sans-serif
}
.thumbG7d
{
    FONT-SIZE: 0.7em;
    COLOR: #cc6600;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.bulletg1
{
    LIST-STYLE-POSITION: outside;
    FONT-SIZE: 0.7em;
    LIST-STYLE-IMAGE: url(../usefulnotes/images/bulletg1.gif);
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.bulletg2
{
    LIST-STYLE-POSITION: outside;
    FONT-SIZE: 0.7em;
    LIST-STYLE-IMAGE: url(../usefulnotes/images/bulletg2.gif);
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, 
  Helvetica, sans-serif
}
.bulletg3
{
    LIST-STYLE-POSITION: outside;
    FONT-SIZE: 0.7em;
    LIST-STYLE-IMAGE: url(../usefulnotes/images/bulletg3.gif);
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.bulletg4
{
    LIST-STYLE-POSITION: outside;
    FONT-SIZE: 0.7em;
    LIST-STYLE-IMAGE: url(../usefulnotes/images/bulletg4.gif);
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.bulletg5
{
    LIST-STYLE-POSITION: outside;
    FONT-SIZE: 0.7em;
    LIST-STYLE-IMAGE: url(../usefulnotes/images/bulletg5.gif);
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.bulletg6
{
    LIST-STYLE-POSITION: outside;
    FONT-SIZE: 0.7em;
    LIST-STYLE-IMAGE: url(../usefulnotes/images/bulletg6.gif);
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.bulletg7
{
    LIST-STYLE-POSITION: outside;
    FONT-SIZE: 0.7em;
    LIST-STYLE-IMAGE: url(../usefulnotes/images/bulletg7.gif);
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.gallerybulletg1
{
    LIST-STYLE-POSITION: outside;
    FONT-SIZE: 0.7em;
    LIST-STYLE-IMAGE: url(../usefulnotes/images/bulletg1.gif);
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.gallerybulletg2
{
    LIST-STYLE-POSITION: outside;
    FONT-SIZE: 0.7em;
    LIST-STYLE-IMAGE: url(../usefulnotes/images/bulletg2.gif);
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.gallerybulletg3
{
    LIST-STYLE-POSITION: outside;
    FONT-SIZE: 0.7em;
    LIST-STYLE-IMAGE: url(../usefulnotes/images/bulletg3.gif);
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.gallerybulletg4
{
    LIST-STYLE-POSITION: outside;
    FONT-SIZE: 0.7em;
    LIST-STYLE-IMAGE: url(../usefulnotes/images/bulletg4.gif);
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.gallerybulletg5
{
    LIST-STYLE-POSITION: outside;
    FONT-SIZE: 0.7em;
    LIST-STYLE-IMAGE: url(../usefulnotes/images/bulletg5.gif);
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.gallerybulletg6
{
    LIST-STYLE-POSITION: outside;
    FONT-SIZE: 0.7em;
    LIST-STYLE-IMAGE: url(../usefulnotes/images/bulletg6.gif);
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.gallerybulletg7
{
    LIST-STYLE-POSITION: outside;
    FONT-SIZE: 0.7em;
    LIST-STYLE-IMAGE: url(../usefulnotes/images/bulletg7.gif);
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.gallerybulletg8
{
    LIST-STYLE-POSITION: outside;
    FONT-SIZE: 0.7em;
    LIST-STYLE-IMAGE: url(../images/bulletg8.gif);
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
.gallerytitlebulletg1
{
    LIST-STYLE-POSITION: outside;
    FONT-SIZE: 0.7em;
    LIST-STYLE-IMAGE: url(../usefulnotes/images/bulletg1.gif);
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.gallerytitlebulletg2
{
    LIST-STYLE-POSITION: outside;
    FONT-SIZE: 0.7em;
    LIST-STYLE-IMAGE: url(../usefulnotes/images/bulletg2.gif);
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.gallerytitlebulletg3
{
    LIST-STYLE-POSITION: outside;
    FONT-SIZE: 0.7em;
    LIST-STYLE-IMAGE: url(../usefulnotes/images/bulletg3.gif);
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.gallerytitlebulletg4
{
    LIST-STYLE-POSITION: outside;
    FONT-SIZE: 0.7em;
    LIST-STYLE-IMAGE: url(../usefulnotes/images/bulletg4.gif);
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.gallerytitlebulletg5
{
    LIST-STYLE-POSITION: outside;
    FONT-SIZE: 0.7em;
    LIST-STYLE-IMAGE: url(../usefulnotes/images/bulletg5.gif);
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.gallerytitlebulletg6
{
    LIST-STYLE-POSITION: outside;
    FONT-SIZE: 0.7em;
    LIST-STYLE-IMAGE: url(../usefulnotes/images/bulletg6.gif);
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.gallerytitleanchorbulletg1
{
    FONT-WEIGHT: bold;
    LIST-STYLE-POSITION: outside;
    FONT-SIZE: 0.7em;
    LIST-STYLE-IMAGE: url(../usefulnotes/images/anchorbulletg1.gif);
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
.gallerytitleanchorbulletg2
{
    FONT-WEIGHT: bold;
    LIST-STYLE-POSITION: outside;
    FONT-SIZE: 0.7em;
    LIST-STYLE-IMAGE: url(../usefulnotes/images/anchorbulletg2.gif);
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
.gallerytitleanchorbulletg3
{
    FONT-WEIGHT: bold;
    LIST-STYLE-POSITION: outside;
    FONT-SIZE: 0.7em;
    LIST-STYLE-IMAGE: url(../usefulnotes/images/anchorbulletg3.gif);
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
.gallerytitleanchorbulletg4
{
    FONT-WEIGHT: bold;
    LIST-STYLE-POSITION: outside;
    FONT-SIZE: 0.7em;
    LIST-STYLE-IMAGE: url(../usefulnotes/images/anchorbulletg4.gif);
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
.gallerytitleanchorbulletg5
{
    FONT-WEIGHT: bold;
    LIST-STYLE-POSITION: outside;
    FONT-SIZE: 0.7em;
    LIST-STYLE-IMAGE: url(../usefulnotes/images/anchorbulletg5.gif);
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
.gallerytitleanchorbulletg6
{
    FONT-WEIGHT: bold;
    LIST-STYLE-POSITION: outside;
    FONT-SIZE: 0.7em;
    LIST-STYLE-IMAGE: url(../usefulnotes/images/anchorbulletg6.gif);
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
.gallerytitleanchorbulletg8
{
    FONT-WEIGHT: bold;
    LIST-STYLE-POSITION: outside;
    FONT-SIZE: 0.7em;
    LIST-STYLE-IMAGE: url(../images/anchorbulletg8.gif);
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
.gallerytitleanchorbulletg8b4
{
    FONT-WEIGHT: bold;
    LIST-STYLE-POSITION: outside;
    FONT-SIZE: 0.7em;
    LIST-STYLE-IMAGE: url(../images/anchorbulletg8b4.gif);
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
.gallerytitleanchorbulletg8b7
{
    FONT-WEIGHT: bold;
    LIST-STYLE-POSITION: outside;
    FONT-SIZE: 0.7em;
    LIST-STYLE-IMAGE: url(../images/anchorbulletg8b7.gif);
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
.g1tabledark
{
    BORDER-RIGHT: black 0px;
    PADDING-RIGHT: 5px;
    BORDER-TOP: black 0px;
    PADDING-LEFT: 5px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 0.7em;
    PADDING-BOTTOM: 5px;
    BORDER-LEFT: black 0px;
    COLOR: #f8f8f8;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: #000000 0px;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #baa3ba
}
.g1tablelite
{
    BORDER-RIGHT: black 0px;
    PADDING-RIGHT: 5px;
    BORDER-TOP: black 0px;
    PADDING-LEFT: 5px;
    FONT-SIZE: 0.7em;
    PADDING-BOTTOM: 5px;
    MARGIN-LEFT: 5px;
    BORDER-LEFT: black 0px;
    COLOR: #000000;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: #ffffff 0px;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #ffffff
}
.g1tablemid
{
    BORDER-RIGHT: black 0px;
    PADDING-RIGHT: 5px;
    BORDER-TOP: black 0px;
    PADDING-LEFT: 5px;
    FONT-SIZE: 0.7em;
    PADDING-BOTTOM: 5px;
    BORDER-LEFT: black 0px;
    COLOR: #663366;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: #000000 0px;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #e0d5e0
}
.g2tabledark
{
    BORDER-RIGHT: black 0px;
    PADDING-RIGHT: 5px;
    BORDER-TOP: black 0px;
    PADDING-LEFT: 5px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 0.7em;
    PADDING-BOTTOM: 5px;
    BORDER-LEFT: black 0px;
    COLOR: #f8f8f8;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: #000000 0px;
    FONT-FAMILY: Verdana, Arial, Helvetica, 
  sans-serif;
    BACKGROUND-COLOR: #a3a3d1
}
.g2tablelite
{
    BORDER-RIGHT: black 0px;
    PADDING-RIGHT: 5px;
    BORDER-TOP: black 0px;
    PADDING-LEFT: 5px;
    FONT-SIZE: 0.7em;
    PADDING-BOTTOM: 5px;
    MARGIN-LEFT: 5px;
    BORDER-LEFT: black 0px;
    COLOR: #000000;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: #ffffff 0px;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #ffffff
}
.g2tablemid
{
    BORDER-RIGHT: black 0px;
    PADDING-RIGHT: 5px;
    BORDER-TOP: black 0px;
    PADDING-LEFT: 5px;
    FONT-SIZE: 0.7em;
    PADDING-BOTTOM: 5px;
    BORDER-LEFT: black 0px;
    COLOR: #333399;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: #000000 0px;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #d5d5ea
}
.g3tabledark
{
    BORDER-RIGHT: black 0px;
    PADDING-RIGHT: 5px;
    BORDER-TOP: black 0px;
    PADDING-LEFT: 5px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 0.7em;
    PADDING-BOTTOM: 5px;
    BORDER-LEFT: black 0px;
    COLOR: #f8f8f8;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: #000000 0px;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #8cbad1
}
.g3tablelite
{
    BORDER-RIGHT: black 0px;
    PADDING-RIGHT: 5px;
    BORDER-TOP: black 0px;
    PADDING-LEFT: 5px;
    FONT-SIZE: 0.7em;
    PADDING-BOTTOM: 5px;
    MARGIN-LEFT: 5px;
    BORDER-LEFT: black 0px;
    COLOR: #000000;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: #ffffff 0px;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #ffffff
}
.g3tablemid
{
    BORDER-RIGHT: black 0px;
    PADDING-RIGHT: 5px;
    BORDER-TOP: black 0px;
    PADDING-LEFT: 5px;
    FONT-SIZE: 0.7em;
    PADDING-BOTTOM: 5px;
    BORDER-LEFT: black 0px;
    COLOR: #006699;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: #000000 0px;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #cbe0ea
}
.g4tabledark
{
    BORDER-RIGHT: black 0px;
    PADDING-RIGHT: 5px;
    BORDER-TOP: black 0px;
    PADDING-LEFT: 5px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 0.7em;
    PADDING-BOTTOM: 5px;
    BORDER-LEFT: black 0px;
    COLOR: #f8f8f8;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: #000000 0px;
    FONT-FAMILY: Verdana, Arial, Helvetica, 
  sans-serif;
    BACKGROUND-COLOR: #8cbaba
}
.g4tablelite
{
    BORDER-RIGHT: black 0px;
    PADDING-RIGHT: 5px;
    BORDER-TOP: black 0px;
    PADDING-LEFT: 5px;
    FONT-SIZE: 0.7em;
    PADDING-BOTTOM: 5px;
    MARGIN-LEFT: 5px;
    BORDER-LEFT: black 0px;
    COLOR: #000000;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: #ffffff 0px;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #ffffff
}
.g4tablemid
{
    BORDER-RIGHT: black 0px;
    PADDING-RIGHT: 5px;
    BORDER-TOP: black 0px;
    PADDING-LEFT: 5px;
    FONT-SIZE: 0.7em;
    PADDING-BOTTOM: 5px;
    BORDER-LEFT: black 0px;
    COLOR: #006666;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: #000000 0px;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #cbe0e0
}
.g5tabledark
{
    BORDER-RIGHT: black 0px;
    PADDING-RIGHT: 5px;
    BORDER-TOP: black 0px;
    PADDING-LEFT: 5px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 0.7em;
    PADDING-BOTTOM: 5px;
    BORDER-LEFT: black 0px;
    COLOR: #f8f8f8;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: #000000 0px;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #a3ba8c
}
.g5tablelite
{
    BORDER-RIGHT: black 0px;
    PADDING-RIGHT: 5px;
    BORDER-TOP: black 0px;
    PADDING-LEFT: 5px;
    FONT-SIZE: 0.7em;
    PADDING-BOTTOM: 5px;
    MARGIN-LEFT: 5px;
    BORDER-LEFT: black 0px;
    COLOR: #000000;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: #ffffff 0px;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #ffffff
}
.g5tablemid
{
    BORDER-RIGHT: black 0px;
    PADDING-RIGHT: 5px;
    BORDER-TOP: black 0px;
    PADDING-LEFT: 5px;
    FONT-SIZE: 0.7em;
    PADDING-BOTTOM: 5px;
    BORDER-LEFT: black 0px;
    COLOR: #336600;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: #000000 0px;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #d5e0cb
}
.g6tabledark
{
    BORDER-RIGHT: black 0px;
    PADDING-RIGHT: 5px;
    BORDER-TOP: black 0px;
    PADDING-LEFT: 5px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 0.7em;
    PADDING-BOTTOM: 5px;
    BORDER-LEFT: black 0px;
    COLOR: #f8f8f8;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: #000000 0px;
    FONT-FAMILY: Verdana, Arial, Helvetica, 
  sans-serif;
    BACKGROUND-COLOR: #d1ba8c
}
.g6tablelite
{
    BORDER-RIGHT: black 0px;
    PADDING-RIGHT: 5px;
    BORDER-TOP: black 0px;
    PADDING-LEFT: 5px;
    FONT-SIZE: 0.7em;
    PADDING-BOTTOM: 5px;
    MARGIN-LEFT: 5px;
    BORDER-LEFT: black 0px;
    COLOR: #000000;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: #ffffff 0px;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #ffffff
}
.g6tablemid
{
    BORDER-RIGHT: black 0px;
    PADDING-RIGHT: 5px;
    BORDER-TOP: black 0px;
    PADDING-LEFT: 5px;
    FONT-SIZE: 0.7em;
    PADDING-BOTTOM: 5px;
    BORDER-LEFT: black 0px;
    COLOR: #996600;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: #000000 0px;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #eae0cb
}
.g7tabledark
{
    BORDER-RIGHT: black 0px;
    PADDING-RIGHT: 5px;
    BORDER-TOP: black 0px;
    PADDING-LEFT: 5px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 0.7em;
    PADDING-BOTTOM: 5px;
    BORDER-LEFT: black 0px;
    COLOR: #f8f8f8;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: #000000 0px;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #e8ba8c
}
.g7tablelite
{
    BORDER-RIGHT: black 0px;
    PADDING-RIGHT: 5px;
    BORDER-TOP: black 0px;
    PADDING-LEFT: 5px;
    FONT-SIZE: 0.7em;
    PADDING-BOTTOM: 5px;
    MARGIN-LEFT: 5px;
    BORDER-LEFT: black 0px;
    COLOR: #000000;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: #ffffff 0px;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #ffffff
}
.g7tablemid
{
    BORDER-RIGHT: black 0px;
    PADDING-RIGHT: 5px;
    BORDER-TOP: black 0px;
    PADDING-LEFT: 5px;
    FONT-SIZE: 0.7em;
    PADDING-BOTTOM: 5px;
    BORDER-LEFT: black 0px;
    COLOR: #cc6600;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: #000000 0px;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #f5e0cb
}
.g8tabledark
{
    BORDER-RIGHT: black 0px;
    PADDING-RIGHT: 5px;
    BORDER-TOP: black 0px;
    PADDING-LEFT: 5px;
    FONT-WEIGHT: bold;
    FONT-SIZE: 0.7em;
    PADDING-BOTTOM: 5px;
    BORDER-LEFT: black 0px;
    COLOR: #f8f8f8;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: #000000 0px;
    FONT-FAMILY: Verdana, Arial, Helvetica, 
  sans-serif;
    BACKGROUND-COLOR: #990033
}
.g8tablelite
{
    BORDER-RIGHT: black 0px;
    PADDING-RIGHT: 5px;
    BORDER-TOP: black 0px;
    PADDING-LEFT: 5px;
    FONT-SIZE: 0.7em;
    PADDING-BOTTOM: 5px;
    MARGIN-LEFT: 5px;
    BORDER-LEFT: black 0px;
    COLOR: #000000;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: #ffffff 0px;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #eacbd5
}
.g8tablemid
{
    BORDER-RIGHT: black 0px;
    PADDING-RIGHT: 5px;
    BORDER-TOP: black 0px;
    PADDING-LEFT: 5px;
    FONT-SIZE: 0.7em;
    PADDING-BOTTOM: 5px;
    BORDER-LEFT: black 0px;
    COLOR: #663366;
    PADDING-TOP: 5px;
    BORDER-BOTTOM: #000000 0px;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    BACKGROUND-COLOR: #d19ca3
}
.tableunderline
{
    BORDER-RIGHT: #cccccc 0px solid;
    BORDER-TOP: #cccccc 0px solid;
    FONT-SIZE: 0.7em;
    BORDER-LEFT: #cccccc 0px solid;
    COLOR: #000000;
    BORDER-BOTTOM: #cccccc 1px solid;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.g4whiteborder
{
    BORDER-RIGHT: #ffffff 1px solid;
    BORDER-TOP: #ffffff 1px solid;
    BORDER-LEFT: #ffffff 1px solid;
    BORDER-BOTTOM: #ffffff 1px solid
}
.sitemapred
{
    FONT-WEIGHT: bold;
    FONT-SIZE: 0.7em;
    COLOR: #990033;
    FONT-FAMILY: Verdana, 
  Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
A.sitemapred:hover
{
    TEXT-DECORATION: underline
}
.mapbodyblack
{
    FONT-SIZE: 0.7em;
    COLOR: #000000;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
A.mapbodyblack:hover
{
    TEXT-DECORATION: underline
}
.mapbodypurple
{
    FONT-SIZE: 0.7em;
    COLOR: #663366;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
A.mapbodypurple:hover
{
    TEXT-DECORATION: underline
}
.mapbodyroyalblue
{
    FONT-SIZE: 0.7em;
    COLOR: #333399;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
A.mapbodyroyalblue:hover
{
    TEXT-DECORATION: underline
}
.mapbodyskyblue
{
    FONT-SIZE: 0.7em;
    COLOR: #006699;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
A.mapbodyskyblue:hover
{
    TEXT-DECORATION: underline
}
.mapbodyturquoise
{
    FONT-SIZE: 0.7em;
    COLOR: #006666;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
A.mapbodyturquoise:hover
{
    TEXT-DECORATION: underline
}
.mapbodygreen
{
    FONT-SIZE: 0.7em;
    COLOR: #336600;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
A.mapbodygreen:hover
{
    TEXT-DECORATION: underline
}
.mapbodybrown
{
    FONT-SIZE: 0.7em;
    COLOR: #996600;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
    TEXT-DECORATION: none
}
A.mapbodybrown:hover
{
    TEXT-DECORATION: underline
}
.e_mail
{
    FONT-SIZE: 0.7em;
    WIDTH: 210px;
    COLOR: #404040;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.bodypeach
{
    FONT-SIZE: xx-small;
    COLOR: #cc3300;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.bodyviolet
{
    FONT-SIZE: xx-small;
    COLOR: #6600ff;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.exhibit
{
    FONT-SIZE: 0.7em;
    WIDTH: 300px;
    COLOR: #404040;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.source_notes
{
    FONT-SIZE: 0.7em;
    WIDTH: 310px;
    COLOR: #404040;
    FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif
}
.search_form
{
    MARGIN: 0px
}
